body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    width: 80%;
    margin: auto;
}

.day {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    min-height: 100px;
}

button {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
}